html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    overflow-x: hidden;
}

hr {
    max-width: 50px;
    border-width: 3px;
}
.hr-primary {
  border-color: #eab445;
}
.hr-secondary {
  border-color: #fff;
}
.hr-section-heading {
    padding-bottom: 75px;
}

.text-muted {
    color: #777;
}

.text-primary {
    color: #eab445;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,{
    outline: 0;
}

a {
    color: #eab445;
}

a:hover,
a:focus,
a:active,{
    color: #fbc556;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.img-with-caption {
    margin-bottom: 30px;
    display: inline-block;
}
.img-with-caption img {
    margin-bottom: 5px !important;
}
.img-with-caption .caption {
    font-size: 12px;
    font-style: italic;
    text-align: right;
}
.img-with-caption .caption a,
.img-with-caption .caption a:hover,
.img-with-caption .caption a:active {
    color:#777;
}

.img-centered {
    margin: 0 auto;
}

.bg-primary {
    background-color: #2ca8c2;
    color: #fff;
}

.bg-secondary {
    background-color: #eab445;
}

.bg-green {
    background-color: #7cc576;
    color: #515151;
}
.bg-gray {
    color: #fff;
    background-color: #515151;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.bg-darkest-gray {
    background-color: #222;
}

.ibg-bg {
    transform: matrix(1.02, 0, 0, 1.02, 0, 0);
}

.btn-primary {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    border-color: #eab445;
    background-color: #eab445;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    color: #fff;
    border-color: #fbc556;
    background-color: #fbc556;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    border-color: #eab445;
    background-color: #eab445;
}

.btn-primary .badge {
    color: #eab445;
    background-color: #fff;
}

.btn-xl,
.btn-x2 {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 20px 40px;
    text-transform: uppercase;
    color: #fff;
    border-color: #2ca8c2;
    border-radius: 3px;
    background-color: #2ca8c2;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.btn-x2 {
    border-color: #eab445;
    background-color: #eab445;
}

.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    color: #fff;
    border-color: #1b97b1;
    background-color: #1b97b1;
}

.btn-x2:hover,
.btn-x2:focus,
.btn-x2:active,
.btn-x2.active,
.open .dropdown-toggle.btn-x2 {
    color: #fff;
    border-color: #fbc556;
    background-color: #fbc556;
}

.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl,
.btn-x2:active,
.btn-x2.active,
.open .dropdown-toggle.btn-x2 {
    background-image: none;
}

.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #2ca8c2;
    background-color: #2ca8c2;
}

.btn-x2.disabled,
.btn-x2[disabled],
fieldset[disabled] .btn-xl,
.btn-x2.disabled:hover,
.btn-x2[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-x2.disabled:focus,
.btn-x2[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-x2.disabled:active,
.btn-x2[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-x2.disabled.active,
.btn-x2[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #eab445;
    background-color: #eab445;
}

.btn-xl .badge {
    color: #2ca8c2;
    background-color: #fff;
}

.btn-x2 .badge {
    color: #eab445;
    background-color: #fff;
}



.navbar-default {
    border-color: transparent;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}

.navbar-default .navbar-brand {
    font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
    color: #eab445;
    padding: 5px 15px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fbc556;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle {
    border-color: #2ca8c2;
    background-color: #2ca8c2;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #2ca8c2;
}

.navbar-default .nav li a {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #515151;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    color: #2ca8c2;
    outline: 0;
}

.navbar-default .navbar-nav > .active > a {
    color: #fff;
    border-radius: 0;
    background-color: #eab445;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #fbc556;
}

@media (min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0;
        background-color: transparent;
        box-shadow: none;
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-default .navbar-nav > .active > a {
        border-radius: 3px;
    }
    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

header {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    color: #515151;
    background-color: #2ca8c2;
    /*background-image: url(../img/header_bg.jpg);*/
    background-repeat: none;
    background-attachment: scroll;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header .header-content {
    position: absolute;
    top: 50%;
    padding: 100px 15px;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

header .header-content .intro-text h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 50px;
    color: #eab445;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

header .header-content .intro-text hr {
    margin: 30px auto;
}

header .header-content .intro-text p {
    font-size: 16px;
    font-weight: 300;
    color: #2ca8c2;
}

@media(min-width:768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 0 0 20%;
        max-width: 750px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    header .header-content .intro-text {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }
    header .header-content .intro-text p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }
}

@media (min-width:992px) {
    header .header-content {
        padding: 0 0 0 35%;
        max-width: 970px;
    }
}

@media (min-width: 1200px) {
    header .header-content {
        padding: 0 0 0 35%;
        max-width: 1170px;
    }
}

section {
    padding: 100px 0;
}

section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
}

@media (min-width:768px) {
    section {
        padding: 150px 0;
    }
}

#what {
    /*position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #515151;*/
    background-image: url(../img/what/people_silhouettes_grey.png);
    /*background-image: url(../img/people_silhouettes_orange.png);
    background-image: url(../img/people_silhouettes_green.png);
    background-image: url(../img/people_silhouettes_blue.png);*/
    background-repeat: none;
    background-attachment: scroll;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#how {
    /*position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #515151;*/
    /*background-image: url(../img/kompass_lg_transparent.png);*/
    /*background-image: url(../img/people_silhouettes_orange.png);
    background-image: url(../img/people_silhouettes_green.png);
    background-image: url(../img/people_silhouettes_blue.png);*/
    background-repeat: none;
    background-attachment: scroll;
    background-position: center bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#how .app-link {
    text-decoration: none;
    background-color: #eab445;
}

#how .app-link:hover,
#how .app-link:active {
    background-color: #fbc556;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background: rgba(254, 209, 54, .9);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    font-size: 20px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
    margin: 0;
    text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width:767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: '';
    background-color: #f1f1f1;
}

.timeline > li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
}

.timeline > li:before,
.timeline > li:after {
    display: table;
    content: ' ';
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li .timeline-image {
    position: absolute;
    z-index: 100;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    text-align: center;
    color: #fff;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    background-color: #fff;
}

.timeline > li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body > p,
.timeline .timeline-body > ul {
    margin-bottom: 0;
}

@media (min-width:768px) {
    .timeline:before {
        left: 50%;
    }
    .timeline > li {
        min-height: 100px;
        margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }
    .timeline > li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width:992px) {
    .timeline > li {
        min-height: 150px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px;
    }
    .timeline > li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }
    .timeline > li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 20px 20px;
    }
}

@media (min-width:1200px) {
    .timeline > li {
        min-height: 170px;
    }
    .timeline > li .timeline-panel {
        padding: 0 20px 20px 100px;
    }
    .timeline > li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }
    .timeline > li .timeline-image h4 {
        margin-top: 40px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
        padding: 0 100px 20px 20px;
    }
}
section#team {
    padding: 150px 0 50px 0;
}
section#team .section-heading {
    text-align: center;
}
@media (min-width:768px) {
    section#team .section-heading {
        text-align: left;
    }
}
.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}

aside.clients img {
    margin: 50px auto;
}

section#contact {
    /* background-color: #222; */
    background-image: url(../img/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
}

section#contact .section-heading {
    color: #515151;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

section#contact .form-control:focus {
    border-color: #eab445;
    box-shadow: none;
}

section#contact::-webkit-input-placeholder {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #bbb;
}

section#contact:-moz-placeholder {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #bbb;
}

section#contact::-moz-placeholder {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #bbb;
}

section#contact:-ms-input-placeholder {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #bbb;
}

section#contact .text-danger {
    color: #F15F74;
}

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 40px;
    text-transform: uppercase;
    text-transform: none;
}

footer ul.quicklinks {
    font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #222;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #eab445;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.portfolio-modal {
    background-color: #fff;
}

.portfolio-modal .modal-content {
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
    border: 0;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    margin: 20px 0 30px;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #222;
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #222;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

::-moz-selection {
    background: #F15F74;
    text-shadow: none;
}

::selection {
    background: #F15F74;
    text-shadow: none;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: #eab445;
}

.box-shadow {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
}
